<h1>Login</h1>
<div>
    <form id="loginForm">
        <label>Correo</label>
        <input name="email">
        <label>Password</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<a href="register">Registrate</a>
<a href="/api/sessions/google"><button>Google</button></a>
<script src="/js/login.js"></script>